*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
  margin-left: 30px;
  padding-bottom: 35px;
}

.search-form {
  margin-top: 16px;
  display: flex;
  gap: 40px;
  min-height: 54px;
}

.content__details {
  min-width: 399px;
  max-height: 534px;
}

.content__list {
  position: relative;
  max-height: 294px;
  overflow-y: scroll;
}

.result {
  min-height: 456px;
  max-height: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

li.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 107px;
}

.content__video-card-description-container {
  min-width: 200px;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  align-self: center;
}

.search-form__fieldset {
  border: none;
  padding-bottom: 2px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 3px;
}

.title {
  color: #FFF;
  font-family: Oswald, serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: Oswald, serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__card-link {
  display: flex;
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  max-width: 394px;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  padding-top: 7px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
   padding-bottom: 0px;
  padding-top: 0px;
} 

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__textfield {
  background: transparent;
  min-width: 225px;
  min-height: 27px;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  border-inline-start: 1px solid transparent;
  border-inline-end: 1px solid transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-inline-start: 1px solid #fff;
  border-inline-end: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label-text {
  padding-left: 5px;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: flex;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff; /* Set the background color to red */
}


button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-height: 34px;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: end;
}

.more-button {
  max-height: 34px;
  min-width: 100%;
}

button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button:active {
  cursor: pointer;
  border: 1px solid #FFF;
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}